@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --foreground: #1f1f1f;
  --primary: #ef7d00;
  --secondary: #868a90;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

//Default button style
.btn {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 3px;

  //btn Variants
  &.btn-primary {
    background-color: var(--primary);
    color: white;
  }

  &.btn-secondary {
    background-color: var(--secondary);
    color: var(--foreground);
  }
}

//HEADER
#header {
  width: 100%;
  height: auto;
  padding-block: 15px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  color: var(--background);

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: end;

    li {
      display: grid;
      align-items: center;
      color: var(--background);
      cursor: pointer;
      &.icon {
        padding: 8px;
      }
      &.userInfo {
        padding: 8px;
      }
    }
  }
}
//END OF HEADER

//LOGIN SECTION
#login {
  .gradient-bg {
    background: linear-gradient(0, #f3a858 10%, #ef7d00 95%);
  }

  #loginCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 220px;
    min-width: 250px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
//END OF LOGIN

//DASHBOARD
#dashboard {
  display: flex;
  width: 100%;
  main {
    flex-grow: 1;
    max-width: 100%;
    transition: margin-left 1s ;
  }

  //SIDEBAR
  #sidebar {
  transition: width 0.5s ease-in-out;
}

#sidebar.collapsed {
  width: 0;
  overflow: hidden;
}
}
